.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  h1 {
    margin: 0;
  }
}

.navbar {
  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    li {
      padding: 1rem;
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
}

.active {
  border-bottom: 1px solid black;
}