.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  min-height: 7vh;
  flex: 1;

}
.logoWrapper {
  min-height: 45px;
  min-width: 70px;
  margin-left: 2vw;
  background-size: cover;
  position: relative;
  object-position: left;
}

.navbar {
  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    li {
      padding: 1rem;
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
}

.active {
  border-bottom: 1px solid black;
}